@model Producto

<h1>Eliminar Producto</h1>

<h3>¿Estás seguro de que quieres eliminar este producto?</h3>
<div>
    <h4>@Model.NombreProducto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre:
        </dt>
        <dd class="col-sm-10">
            @Model.NombreProducto
        </dd>
        <dt class="col-sm-2">
            Descripcion:
        </dt>
        <dd class="col-sm-10">
            @Model.Descripcion
        </dd>
        <dt class="col-sm-2">
            Cantidad:
        </dt>
        <dd class="col-sm-10">
            @Model.Cantidad
        </dd>
        <dt class="col-sm-2">
            Precio:
        </dt>
        <dd class="col-sm-10">
            @Model.Precio
        </dd>
        <dt class="col-sm-2">
            Proveedor:
        </dt>
        <dd class="col-sm-10">
            @Model.IdProveedorNavigation?.NombreProveedor
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
       
        <input type="hidden" asp-for="@Model.Id" />
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-warning">
                @TempData["ErrorMessage"]
            </div>
        }
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        
       @*  @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-warning">
                @TempData["SuccessMessage"]
            </div>
        } *@
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
