@using GestorInventario.PaginacionLogica
@model List<Pedido>
<style>
    .btn-group > .btn {
        margin-right: 10px;
    }
</style>
<h1>Pedidos</h1>
@{
    var paginas = ViewBag.Paginas as List<PaginasModel>;
}
<p>
    @if (User.IsInRole("administrador"))
    {
        <a asp-action="Create" class="btn btn-info">Crear Pedido</a>
       
    }
</p>
<form asp-controller="Pedidos" asp-action="Index">
    <p>
        Fecha inicio: <input type="date" name="fechaInicio" class="form-text" />
        Fecha fin: <input type="date" name="fechaFin" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
    </p>
</form>
<form asp-controller="Pedidos" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" placeholder="Número de pedido, Estado, Nombre del cliente..." />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
    </p>
</form>
<table class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th class="col-2">Numero del Pedido</th>
            <th class="col-2">Fecha del Pedido</th>
            <th class="col-2">Estado del Pedido</th>
            <th class="col-2">Nombre del Cliente</th>
            <th class="col-2">Ver detalles</th>
            <th class="col-2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {

            <tr>
                <td>@pedido.NumeroPedido</td>
                <td>@pedido.FechaPedido</td>
                <td>@pedido.EstadoPedido</td>
                <td>@pedido.IdUsuarioNavigation?.NombreCompleto</td>
                <td>
                    <a asp-action="DetallesPedido" asp-route-id="@pedido.Id" class="btn btn-info">Ver detalles</a>
                </td>
                <td>
                    @{
                        bool isRefunded = pedido.EstadoPedido == "Reembolsado"; 
                    }
                    @if (User.IsInRole("administrador"))
                    {
                        <div class="btn-group" role="group" aria-label="Acciones">
                            <a asp-action="Delete" asp-route-id="@pedido.Id" class="btn btn-danger">Eliminar</a>
                            <a asp-action="Edit" asp-route-id="@pedido.Id" class="btn btn-warning">Actualizar</a>
                            <button type="button" class="btn btn-info mt-2 refund-button"
                                    data-toggle="modal"
                                    data-target="#confirmModal"
                                    data-pedido-id="@pedido.Id"
                            @if (isRefunded)
                            {
                                <text>disabled</text>
                            }>
                    Reembolsar
                </button>
                        </div>
                    }
                <td>  <a asp-action="DetallesPagoEjecutado" asp-route-id="@pedido.PagoId" class="btn btn-warning">Detalles de pago</a></td>
                </td>
          

            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @foreach (var pagina in paginas)
        {
            <li class="page-item @(pagina.Habilitada ? null :"disabled") @(pagina.Activa ? "active":null)">
                <a class="page-link" href="@Url.Action("Index", new { buscar = ViewData["Buscar"], fechaInicio = ViewData["FechaInicio"], fechaFin = ViewData["FechaFin"], Pagina = pagina.Pagina })">@pagina.Texto</a>
            </li>
        }
    </ul>
</nav>
<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
               
            </div>
            <div class="modal-body">
                <p id="confirmMessage">¿Estás seguro de que deseas realizar esta acción?</p>
                <p id="loadingMessage"></p>
            </div>
            <div class="modal-footer">
               
                <button type="button" class="btn btn-primary" id="confirmActionBtn">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
 
    <script>
        $(document).ready(function () {
            var pedidoId; 

            
            $(".refund-button").click(function (event) {
                event.preventDefault();
                pedidoId = $(this).data("pedido-id");               
                $("#confirmModal").modal("show");
                $("#confirmMessage").text(`¿Estás seguro de que deseas reembolsar el pedido ${pedidoId}?`);
            });         
            $("#confirmActionBtn").click(function () {                           
               
                $('#confirmModal').modal({
                    backdrop: true,
                    keyboard: true  
                });
                $("#loadingMessage").text("Procesando...").show();
                $(this).prop('disabled', true);
                $.ajax({
                    url: `/Payment/RefundSale`,
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        PedidoId: pedidoId,                                        
                    }),
                    success: function (response) {
                        console.log("Reembolso realizado con éxito");
                        location.reload(); 
                    },
                    error: function (xhr, status, error) {
                        console.log("Error al realizar el reembolso: " + xhr.responseText);
                    }
                });
                $("#confirmModal").modal("hide");
            });
        });
    </script>
}

