@using GestorInventario.PaginacionLogica
@model List<HistorialPedido>

<h1>Historial de Pedidos</h1>
@{
  
    var paginas = ViewBag.Paginas as List<PaginasModel>;
}
<a href="@Url.Action("DescargarHistorialPDF", "Pedidos")" target="_blank" class="btn btn-primary descargar">Descargar Historial PDF</a>
<form asp-action="DeleteAllHistorial" asp-controller="Pedidos" method="post">
    <input type="submit" value="Eliminar todo el historial" class="btn btn-danger mt-2" />
</form>
<form asp-controller="Pedidos" asp-action="HistorialPedidos">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
    </p>
</form>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning">
        @TempData["ErrorMessage"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            
            <th>Fecha</th>
            <th>Accion</th>
            <th>Ip</th>
            <th>IdUsuario</th>
            <th>Productos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
            <tr>
                <td>@pedido.Fecha</td>
                <td>@pedido.Accion</td>
                <td>@pedido.Ip</td>
                <td>@pedido.IdUsuario</td>
                <td>
                    @foreach (var detalle in pedido.DetalleHistorialPedidos)
                    {
                        <span>@detalle.Producto?.NombreProducto</span>
                        <br />
                    }
                </td>
                <td>
                    <a asp-action="DetallesHistorialPedido" asp-route-id="@pedido.Id" class="btn btn-info">Ver detalles</a>
                </td>
                <td>
                    @if (User.IsInRole("administrador"))
                    {
                        <a asp-action="DeleteHistorial" asp-route-id="@pedido.Id" class="btn btn-danger">Delete</a>
                    }
                   
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <!--Como paginas es una lista se puede iterar pues se itera obteniendo todas las paginas-->
        @foreach (var pagina in paginas)
        {
            <!--
                Creamos un elemento de lista (<li>) para cada página
                Si la página está habilitada, no añadimos ninguna clase adicional
                Si la página no está habilitada, añadimos la clase "disabled"
                Si la página está activa, añadimos la clase "active"

            -->
            <li class="page-item @(pagina.Habilitada ? null :"disabled") @(pagina.Activa ? "active":null)">
                <!--

                    Creamos un enlace (<a>) para cada página
                     El enlace lleva a la acción "Index" del controlador actual con el número de la página como parámetro
                     El texto del enlace es el texto de la página
                -->
                <a class="page-link" href="@Url.Action("HistorialPedidos", new { Pagina = pagina.Pagina, buscar=ViewData["Buscar"]  })">@pagina.Texto</a>
            </li>
        }
    </ul>
</nav>


