@using GestorInventario.PaginacionLogica
@model List<GestorInventario.Domain.Models.ItemsDelCarrito>

<h2>Tu Carrito de Compras</h2>
@{
    //Hace referencia al ViewData creado en el controlador como ViewData["Paginas"] se ha llamado
    //Paginas el ViewData el ViewBag.Paginas espera algo que se llame paginas porque es a por lo que
    //va a ir cuando se ejecute y decimos que este ViewBag.Paginas es una lista de PaginasModel
    var paginas = ViewBag.Paginas as List<PaginasModel>;
}
<div class="alert alert-primary" role="alert">
    Esta pagina solo admite pagos via paypal al seleccionar la moneda con la que quiere pagar, debera tener una cuenta de
    paypal con dicha moneda si por ejemplo usted selecciono EUR pero su cuenta es de Estados unidos paypal cobra una comision
    por el cambio de moneda. Consejo si tienes cuenta creada en españa y maneja el euro selecciona el euro para evitar comisiones
    de paypal por el cambio de moneda
</div>
<div class="alert alert-primary" role="alert">
    El precio del total de todos los productos no se especifica hasta que no  le das a <strong>Checkout</strong> y paypal te calcula
    cuanto es el total.
</div>
<form asp-action="Checkout" method="post">
    <label>Seleccione la moneda con la que desea pagar: </label>
    <select name="monedaSeleccionada" asp-items="ViewBag.Moneda" class="form-select"></select>
    <button type="submit" class="btn btn-success mt-3">Checkout</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Proveedor</th>
            <th>Imagen del producto</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Producto.NombreProducto</td>
                <td>@item.Producto.Precio</td>
                <td>@item.Producto.IdProveedorNavigation?.NombreProveedor</td>
                <td>
                    <img src="@item.Producto.Imagen" alt="Imagen del producto" style="width:100px;height:100px;" />
                </td>

                <td>
                    <div class="d-flex justify-content-between align-items-center">
                        <form asp-action="Decrementar" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-down"></i></button>
                        </form>

                        <span>@item.Cantidad</span>

                        <form asp-action="Incrementar" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-up-short"></i></button>
                        </form>
                    </div>
                </td>
                <td>@(item.Producto.Precio * item.Cantidad)</td>
            </tr>
        }
          
           
     @*    <a asp-action="Checkout" class="btn btn-success">Checkout</a> *@
           
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <!--Como paginas es una lista se puede iterar pues se itera obteniendo todas las paginas-->
        @foreach (var pagina in paginas)
        {
            <!--
                Creamos un elemento de lista (<li>) para cada página
                Si la página está habilitada, no añadimos ninguna clase adicional
                Si la página no está habilitada, añadimos la clase "disabled"
                Si la página está activa, añadimos la clase "active"

            -->
            <li class="page-item @(pagina.Habilitada ? null :"disabled") @(pagina.Activa ? "active":null)">
                <!--

                    Creamos un enlace (<a>) para cada página
                     El enlace lleva a la acción "Index" del controlador actual con el número de la página como parámetro
                     El texto del enlace es el texto de la página
                -->
                <a class="page-link" href="@Url.Action("Index", new { Pagina = pagina.Pagina })">@pagina.Texto</a>
            </li>
        }
    </ul>
</nav>